<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleDisplayName</key>
	<string>hiroshimAR</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>hiroshimAR</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>https://lh3.googleusercontent.com/Novcq-jTJHDEznRPTqRBKo_Ym7tQTu_0sopMvuD2o3JcFF_kzgHp_tIW0_hCbkodv-qxNSYL11Hhl64=w2880-h1564</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>https://lh3.googleusercontent.com/c07R4USYRqb9-0HQYuXUbEeIg9ESQmbbuTV5WMQHoBgt16Ya7FvfUshnoIgx_u2pF9IGLFfvw_DM4PY=w2880-h1564</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>https://lh6.googleusercontent.com/xAMVpx1xCxzwPr_LbhdynOg7O5KIzCDFI0OORVpU9QKVBEgs39p-YUy1jeZjkVfLojcI_kDQQ3qoqlo=w2880-h1564</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>https://lh5.googleusercontent.com/Zu4OnEj976u6eHD_G8jsS9QCpgDCGC4ZE5hrp281Or9vzYBL1sn0iiXeZhnUWLeqKkKHQZhJMaKwRMQ=w2880-h1564</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>https://lh5.googleusercontent.com/t-_JjrA7ystPlNZYv1QYuqXbsWRYkk79hNB8Rupjok7Q8P7xNM2uB-Bvk7Lx85OwFebH6PHyiSmniMc=w2880-h1564</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>https://lh3.googleusercontent.com/gEBcceQfZtmaDo7kQh__PFSL6_KOSt3CU4tgbRk4qtdjp3I17xRej5frRdmV-3URrqqtm4ODppdZsNQ=w2880-h1564</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>https://lh4.googleusercontent.com/SV350qbXMdyZiYLI5Hm_vfC-NB_Q6t0yTprX9lAnH8L_fbZDuJ6sU69Izy9IR1Yn50LIx8qB2iMVdBk=w2880-h1564</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Showing AR contents on the camera screen.</string>
	<key>NSLocationUsageDescription</key>
	<string>Showing user&apos;s location on the map.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Showing user&apos;s location on the map.</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow-iPad</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This application doesn&apos;t access the Photo Library.&apos;</string>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>location-services</string>
		<string>still-camera</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
